body{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}

#navbar{
    background-color: #bb3244;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* display: flex;
    justify-content: flex-end; */
}

#navbar > a{
    text-shadow: 3px 3px #303841;
    float: left;
    text-decoration: overline;
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
}

#nav-list{
    display: flex;
    flex-direction: row;
    float: right;
}

#nav-list li {
    list-style: none;
}

a{
text-decoration: none;
color: white;
font-size: 1.5rem;
padding: 1rem 2rem;
 }

 #nav-list li a:hover{
    background-color: #45567d;
 }

#welcome-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    background-image: linear-gradient(52deg, #3a3d40 0%, #181719 100%);
}

h1{
    color: white;
    font-size: 3.5rem;
    font-weight: 700;
}

#welcome-section p{
    color: #bb3244;
    font-size: larger;
    font-style: italic;
}

.projects{
    text-align: center;
    background-color: #45567d ;
    padding: 7rem 2rem
}

.projects h2{
    font-size: 3.2rem;
    color: white;
    margin: 0;
}

.project-img{
    /* height: calc(100% - 6.8rem);
    width:100%; */
    object-fit: cover;

}

.project-title{
    color: white;
    width: 100%;
    background-color: #303841;
    padding: 1em;
}

#projects h2{
    margin-bottom: 10px;
}

#project{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.projects-grid{
    border: 1px solid;
    width: 350px;
}

button{
    width: 150px;
    background-color: #bb3244;
    border: 0;
    border-radius: 10px;
    margin: 20px;
    height: 40px;
}