:root{
    /* These are css variables, this where they are declared */
    --ff-body: 'Heebo', sans-seriff;
    --ff-heading: "Oswald", sans-seriff;

    --clr-primary-400: hsl(60 100% 50%);
    --clr-neutral-900: hsl(0 0% 0%);
    --clr-neutral-100: hsl(0 0% 100%);

    --fs-xl: clamp(3rem, 1rem + 10vw, 10rem);
    --fs-600:2rem;
    --fs-500:1.5rem;
    --fs-400: 1.125rem
}

*, *::after, *::before{
    box-sizing: border-box;
}

body, h1, h2, h3, blockquote, p{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
    
}

.flow > *:not(p:nth-of-type(1)){
    margin-top: var(--flow-spacer, 1em);
}

.lead{
    font-size: var(--fs-500);
    max-width: 40ch;
    font-style: italic;
}

div.article-body{
    columns: 2 30ch;
    gap: 4rem;
    max-width: 100ch;
    column-rule: 2px solid;
    /* you can add color to it as well */
}

.article-body  p:nth-of-type(1):first-letter{
    font-size: 100px;
    font-weight: 800;
    float:left;
    font-family: serif;
}

.article-body  p:nth-of-type(1)::first-line{
    text-transform: uppercase;
    font-weight: 823;
}

body{
    line-height: 1.6;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    width: 100%;
}

h1,  blockquote{
    /* where css variable is used */
    font-family: var(--ff-heading);
    font-weight: 900;
}

h1{
    font-size: var(--fs-xl);
    text-transform: uppercase;
    line-height: 1;
}

blockquote{
    font-size: var(--fs-600);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 1em;
}

blockquote::before{
     content: open-quote;
}

blockquote::after{
    content: close-quote;
}


article{
    display: grid;
}
 
@media (min-width: 50em) {
    article{
        grid-template-columns: min(40%, 40rem) 1fr;
    }
    article > *:not(img){
        grid-column: 2 / -1;
    }
    article >  img{
        grid-row: 1 / 4;
        height: 100%;
        object-fit: cover;
    }
}

article > *:not(img){
    padding: 0 2rem;
}
